/* 主要放网站的公公样式-网站头部和网站的底部 */

/* 版心 */
.container {
	width: 1240px;
	margin: 0 auto;
}
/* 头部模块制作 */
.top-nav {
	height: 52px;
	background-color: #333333;
	line-height: 52px;
}
.top-nav ul li a {
	color: #dcdcdc;
	padding: 0 13px;
	border-right: 1px solid #666666;
}
.top-nav ul {
	float: right;
}
.top-nav ul li {
	float: left;
}
.top-nav ul li:last-child a {
	border-right: 0px;
}
.top-nav ul li:last-child a::before {
	content: '';
	display: inline-block;
	width: 11px;
	height: 16px;
	margin-right: 4px;
	vertical-align: middle;
	background: url(../images/sprites.png) no-repeat -160px -70px;
	margin-top: -3px;
}
